.footer {
    background-color: var(--footer-bg);
    padding: 30px 40px;
    color: #1a4b66;
    /* Deep blue text color */
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}